body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: black;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dark-mode {
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
}
.heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(to right, #ff512f, #dd2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
